[Unit]
Description=EVPN DF Monitor Script
After=network.target frr.service
Requires=frr.service
PartOf=frr.service

[Service]
Type=simple
User=root
Group=root

ExecStart=/usr/bin/python3 -u /home/vyos/test.py

# Stop cleanly on shutdown
ExecStop=/bin/kill -s SIGTERM $MAINPID
KillSignal=SIGTERM
TimeoutStopSec=5
KillMode=control-group

# Only restart if it actually crashes, not on clean stop
Restart=on-failure
RestartSec=2

LimitCORE=0

[Install]
WantedBy=multi-user.target
